/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .container{
    font-family: "Barlow", sans-serif;
    width: 1100px;
    margin-inline: auto;

  }

  .header{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;

  }

  .header a{
    text-decoration: none;
    background-color: #E8EFF2;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    color: #162542;

  }

  .header a:hover{
    background-color: #162542;
    color: #FFFFFF;
  }

  .hero{
    
    display: flex;
    margin-top: 83px;
    justify-content: space-between;

  }

  h2{
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    color: #162542;
  }

.hero-text{
    padding-top: 60px;
    width: 445px;

}

.hero-text p{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;


}

.hero-text span{
    margin-left: 20px;
    margin-top: 70px;
    color: #7B8BAD;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

}

/* .hero-text a{
    margin-top: 70px;
    text-decoration: none;

} */

.hero-text a{
    text-decoration: none;
    background-color: #F16718;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    color: white;

  }

  .hero-text a:hover{
    background-color: #FF9B62;
    color: #FFFFFF;
  }




.hero-text div{
    margin-top: 40px;
}

.content-image{
    margin-top: 30px;
    display: flex;
    gap: 30px;


}

.content-image div{
    width: 255px;
    margin-left: 125px;
    margin-top: 112px;


    
    
}

.content-image h3{
    color: #162542;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    
    text-transform: uppercase;
    

}

.content-image p{
    color:#7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    
    margin-top: 27px;
    
}

.cards{
    margin-top: 168px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.card-item{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card-item img{
    width: 65px;
    height: 65px;
}

.card-item h4{
    font-size: 24px;
    font-weight: 900;
    color: #162542;
    line-height: 28px;

}

.card-item {
    font-size: 16px;
    font-weight: 500;
    color: #7B8BAD;
    line-height: 26px;


}

.footer {

    display: flex;
    justify-content: center;
    margin-top: 128px;
    margin-bottom: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    

}


